 
<?xml version="1.0"?>
<model>
  <name>suzanne_robot</name>
  <version>1.0</version>
<!--
  <sdf version='1.4'>urdf/suzanne_robot.sdf</sdf>
-->
  <sdf version='1.4'>urdf/suzanne_robot.urdf</sdf>

  <author>
   <name>Benjamin Brieber</name>
   <email>bbrieber@informatik.uni-bremen.de</email>
  </author>

  <description>
    An exemplary robot that should not move....
  </description>
</model>